.header {
  position: absolute;
  width: 100%;
}
.header {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #fff;
  height: 50px;
  box-shadow: 10px 15px black;
  border: 2px solid black;
}

.header h1 {
  color: black;
  margin-top: 10px;
  font-size: 22px;
  text-decoration: none;
}

.header h1 a {
  color: black;
  text-decoration: none;
}
